<main>
    <div class="container mb-5 margen-registro">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <!--<div class="card col-md-6 col-md-offset-3 z-depth-2">-->
                    <!--<div class="card-block">-->
                    <div>
                        <div class="text-center">
                            <div class="form-header cyan darken-1">
                                <h3><i class="fa fa-address-card fa-5"></i> Perfil de usuario</h3>
                            </div>
                        </div>
                        <form>
                            <div class="md-form">
                                <span class="fa fa-user-circle-o prefix"></span>
                                <!--<input type="text" name="username" #username="ngModel" [(ngModel)]="model.username" lass="form-control">-->
                                <input type="text" name="username" value="">
                                <label for="username">Usuario </label>
                            </div>
                            <div class="md-form">
                                <span class="fa fa-wpforms prefix"></span>
                                <!--<input type="text" name="username" #username="ngModel" [(ngModel)]="model.username" lass="form-control">-->
                                <input type="text" name="apellido" value="">
                                <label for="apellido">Apellido </label>
                            </div>
                            <div class="md-form">
                                <span class="fa fa-wpforms prefix"></span>
                                <!--<input type="text" name="username" #username="ngModel" [(ngModel)]="model.username" lass="form-control">-->
                                <input type="text" name="apellido2" value="">
                                <label for="apellido2">Apellido 2 </label>
                            </div>
                            <div class="md-form">
                                <span class="fa fa-wpforms prefix"></span>
                                <!--<input type="text" name="username" #username="ngModel" [(ngModel)]="model.username" lass="form-control">-->
                                <input type="text" name="nombre" value="">
                                <label for="nombre">Nombre </label>
                            </div>

                            <div class="md-form">
                                <span class="fa fa-wpforms prefix"></span>
                                <!--<input type="text" name="username" #username="ngModel" [(ngModel)]="model.username" lass="form-control">-->
                                <input type="text" name="nombre2" value="">
                                <label for="nombre2">Nombre 2 </label>
                            </div>

                            <div class="md-form form-inline">
                                <fieldset class="form-group">
                                    <input name="group1" type="radio" id="radio11" checked="checked">
                                    <label for="radio11">Masculino</label>
                                </fieldset>

                                <fieldset class="form-group">
                                    <input name="group1" type="radio" id="radio21">
                                    <label for="radio21">Femenino</label>
                                </fieldset>

                                <fieldset class="form-group">
                                    <input name="group1" type="radio" id="radio31">
                                    <label for="radio31">Otros</label>
                                </fieldset>

                            </div>




                            <!-- <div class="md-form">
                                <span class="fa fa-address-book-o prefix"></span>
                                <input type="text" id="nombre" class="form-control">
                                <label for="nombre">Nombre </label>
                            </div>
                            <div class="md-form">
                                <span class="fa fa-address-book prefix"></span>
                                <input type="text" id="apellido" class="form-control">
                                <label for="apellido">Apellido </label>
                            </div>-->

                            <div class="text-center">
                                <!--<button routerLinkActive="active" [routerLink]="['/logeado/index2']" class="btn btn-success">Crear Cuenta</button>-->

                                <button type="submit" routerLinkActive="active" class="btn btn-success">Modificar Datos</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>