<main class="">
    <div class="container">
        <section class="section">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card mb-r">
                        <div class="card-block">

                        </div>
                        <div class="card-block">
                            <div class="progress">
                                <div class="progress-bar max-height-100 bg-warning" role="progressbar" style="width: 60%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">40%</div>
                            </div>
                        </div>
                        <div class="md-form form-inline">
                            <div class="card card-block mb-r col-3">
                                <div>
                                    <p><i class="fa fa-play-circle mr-1" aria-hidden="true"></i></p>
                                    <span>{{ myfrase }}</span>
                                </div>
                                <div>
                                    <div>

                                    </div>
                                </div>
                            </div>

                            <div class="card-block">

                            </div>
                            <div class="card mb-r card-block ">
                                <div>
                                    <input type="text" name="traduccion" value="">
                                </div>
                            </div>
                        </div>

                        <div class="md-form md-inline-block">
                            <div class="md-space-comma">
                                Mensaje de Proceso
                            </div>
                            <div class="card-block d-md-inline">
                                <div>
                                    <button class="btn btn-success">Saltar</button>
                                </div>
                                <div>
                                    <button class="btn btn-success">Calificar</button>
                                    <button class="btn btn-success">Continuar</button>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>

            </div>
        </section>

    </div>
</main>