<main>
    <div class="container mb-5 margen-registro">
        <div class="row">
            <div class="col-md-12">
                <div class="card col-md-6 col-md-offset-3 z-depth-2">
                    <div class="card-block">
                        <div class="text-center">
                            <div class="form-header cyan darken-1">
                                <h3><i class="fa fa-language fa-1"></i> Crear Frase</h3>
                            </div>
                        </div>
                        <form (ngSubmit)="onGuardar()" #forma="ngForm">
                            <div class="md-form">
                                <!--<span class="fa fa-book prefix"></span>-->
                                <select (change)="onChange($event.target.value)" class="form-control" required>
                                    <option value="" disabled selected>Seleccione Idioma</option>
                                    <option *ngFor="let language of idiomasarray" [value]="language.id">{{language.nombre}}</option>
                                </select>
                                <!--<input [(ngModel)]="sentence.idioma" type="text" name="idioma" lass="form-control">-->

                            </div>
                            <div class="md-form">

                                <select (change)="onChangeC($event.target.value)" class="form-control" required>
                                    <option value="" disabled selected>Seleccione Clase</option>
                                    <option *ngFor="let clas of clasearray" [value]="clas.id">{{clas.nombre}}</option>
                                </select>
                                <!-- <input [(ngModel)]="sentence.clase" type="text" name="clase" class="form-control">-->


                            </div>


                            <div class="md-form">
                                <i class="fa fa-book prefix"></i>
                                <input [(ngModel)]="sentence.frase" type="text" name="frase" class="form-control" required>
                                <label for="frase">Frase</label>
                            </div>
                            <div class="text-center">
                                <!--<button routerLinkActive="active" [routerLink]="['/logeado/index2']" class="btn btn-success">Crear Cuenta</button>-->

                                <button [disabled]="!forma.valid" type="submit" routerLinkActive="active" class="btn btn-success">Crear Frase</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>