<main>
    <div class="container mb-5 margen-registro">
        <div class="row">
            <div class="col-md-12">
                <div class="card col-md-6 col-md-offset-3 z-depth-2">
                    <div class="card-block">
                        <div class="text-center">
                            <!-- <div class="form-header cyan darken-1">
                                <h3><i class="fa fa-language fa-1"></i> Crear Frase</h3>
                            </div>-->
                        </div>
                        <form #forma="ngForm" (ngSubmit)="onSubmit()">
                            <div class="md-form">
                                <!--<span class="fa fa-book prefix"></span>-->
                                <select (change)="onChangeIdioma($event.target.value)" class="form-control" required>
                                    <option value="" disabled selected>Seleccione Idioma</option>
                                    <option *ngFor="let language of idiomasarray" [value]="language.id">{{language.nombre}}</option>
                                </select>
                                <!--<input [(ngModel)]="sentence.idioma" type="text" name="idioma" lass="form-control">-->

                            </div>
                            <div class="md-form">

                                <select (change)="onChangeClase($event.target.value)" class="form-control" required>
                                    <option value="" disabled selected>Seleccione Clase</option>
                                    <option *ngFor="let clas of clasearray" [value]="clas.id">{{clas.nombre}}</option>
                                </select>
                                <!-- <input [(ngModel)]="sentence.clase" type="text" name="clase" class="form-control">-->
                            </div>
                            <div class="text-center">
                                <!--<button routerLinkActive="active" [routerLink]="['/logeado/index2']" class="btn btn-success">Crear Cuenta</button>-->

                                <button [disabled]="!forma.valid" type="submit" routerLinkActive="active" class="btn btn-success">Ver Lista</button>
                            </div>
                            <table class="table table-sm table-striped col-sm-auto">
                                <thead class=" thead-default ">
                                    <tr>
                                        <th>Frase</th>
                                        <th>Traduccion</th>
                                        <th>Control</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let frase of sentences ">

                                        <td>{{ frase.frase }}</td>
                                        <td>{{ frase.idioma.nombre }}</td>
                                        <td>
                                            <a [routerLink]="[ '/logeado/sentence-create' ]" data-toggle="tooltip " title="Ver " class="btn icon-book-open btn-sm "></a>
                                            <!--<a [routerLink]="[ '/idioma' ]" data-toggle="tooltip " title="Editar " class="btn icon-pencil btn-sm"></a>-->
                                            <!--<a (click)="onDeleteConfirm() " data-toggle="tooltip " title="Eliminar " class="btn icon-trash btn-sm"></a>-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>